.book_list_container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.note{
	color:#FFD200;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.book_indiv_container{
	width: 10rem;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5rem;
	margin-right: 2.5rem;
}
.book_indiv_icon{
	width: 5rem;
	height: 7rem;
	background-image:url(../img/placeholder_img.svg);
	background-size: 2rem 2rem;
	background-position: center;
	background-repeat: no-repeat;
}

.upload_pic{
	color: #FFD200;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.input_label{
	margin-top: 1.5rem;
}
.image_preview{
	max-width: 10rem;
	max-height: 10rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.color_res{
	color: #ffffff;
	font-size: 1rem;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.colorLine{
	width: fit-content;
	height: 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.color_input{
	width: 2rem;
	height: 1.5rem;
	padding: 0;
	margin-left: 1rem;
}
.color_palette{
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
	border-radius: 50%;
	border: 0.01rem solild #ffffff;
}