.background_color{
	background: #F5F5F5;
}

.logo{
	width: 12.25rem;
	height: 4.13rem;
	margin-top: 1.625rem;

	margin-right: 2.8645833333vw;
}
.logoImg{
	width: 12.25rem;
	height: 4.13rem;
}
.navigatorLine{
    height: 7.5rem;
    width: 100vw;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.colorFormatBlock{
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 5.9375vw;
}
.colorFormats{
	width: fit-content;
	height: 1.9rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #000000;
	font-weight: 200;
}
.indivColorFormat{
	font-size: 1.5rem;
	margin-right: 4.25rem;
	cursor: pointer;
}
.red-text {
	color: red;

}
.purpose{
	font-size: 2rem;
}
a.black-link {
	color: black;
}
.colorMenu{
	width: 100vw;
	height: 7.5rem;
	padding-bottom: 1.8125rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	z-index: 1000;
}
.colorMenuItem{
	font-size: 1.5rem;
	color: #000000;
	margin-right: 2.25rem;
	text-decoration: none;
}
.colorMenueItem_select{
	font-weight: bold;
}
.colorMenueItem_default{
	font-weight: normal;
}


.colorMainBlock{
	width: 100vw;
	height: calc(100vh - 7.5rem - 7.5rem);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	border-top:0.02rem solid #000000;
	border-bottom: 0.02rem solid #000000;
}

.midSepLine{
	width: 0.01rem;
	height: 100%;
	background-color: #000000;
}

.pictureFormatter{
	width: fit-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5.9375vw;
}

.pictureFormatter_indiv{
	width: 1.6vw;
	height: 1.6vw;
	margin-right: 0.4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	flex-shrink: 0;
}
.pictureFormatter_indiv_inside{
	width: 1.2vw;
	height: 1.2vw;
}
.pictureFormatter_indiv_insideBlack{
	background-color: #000000;
	border-radius: 50%;
}

