.background_color{
	background: #F5F5F5;
}

.logo{
	width: 12.25rem;
	height: 4.13rem;
	margin-top: 1.625rem;

	margin-right: 3.5rem;
}
.logoImg{
	width: 12.25rem;
	height: 4.13rem;
}
.navigatorLine{
    height: 7.5rem;
    width: 100vw;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.colorFormatBlock{
	width: fit-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 6.25rem;
}
.colorFormats{
	width: fit-content;
	height: 1.9rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #000000;
	font-weight: 200;
}
.indivColorFormat{
	font-size: 1.5rem;
	margin-right: 4.25rem;
}

.purpose{
	font-size: 2rem;
}
a.black-link {
	color: black;
}
.colorMenu{
	width: 100vw;
	height: 7.5rem;
	padding-bottom: 1.8125rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	box-sizing: border-box;
	position: relative;
	z-index: 1000;
}
.colorMenuItem{
	font-size: 1.5rem;
	color: #000000;
	margin-right: 2.25rem;
	text-decoration: none;
}
.colorMenueItem_select{
	font-weight: bold;
}
.colorMenueItem_default{
	font-weight: normal;
}

