/* Define a CSS keyframes animation with the desired border-color transitions */
@keyframes borderColorTransition {
  0% {
    border-color: #624029;
  }
  3% {
    border-color: #6F3B21;
  }
  6% {
    border-color: #85442A;
  }
  9% {
    border-color: #78583C;
  }
  12% {
    border-color: #BE8D4A;
  }
  15% {
    border-color: #8D8275;
  }
  18% {
    border-color: #BBA68D;
  }
  21% {
    border-color: #645188;
  }
  24% {
    border-color: #7E1D40;
  }
  27% {
    border-color: #883070;
  }
  30% {
    border-color: #C8A2D7;
  }
  33% {
    border-color: #6C849A;
  }
  36% {
    border-color: #556E83;
  }
  39% {
    border-color: #173661;
  }
  42% {
    border-color: #00405F;
  }
  45% {
    border-color: #003F75;
  }
  48% {
    border-color: #005EA0;
  }
  51% {
    border-color: #3A8BC3;
  }
  54% {
    border-color: #0089CA;
  }
  57% {
    border-color: #58A8E0;
  }
  60% {
    border-color: #80A6C3;
  }
  63% {
    border-color: #BADFEC;
  }
  66% {
    border-color: #00483A;
  }
  69% {
    border-color: #006C5B;
  }
  72% {
    border-color: #00798B;
  }
  75% {
    border-color: #00A46A;
  }
  78% {
    border-color: #09BB83;
  }
  81% {
    border-color: #83C77F;
  }
  84% {
    border-color: #79CCA6;
  }
  87% {
    border-color: #DEE24D;
  }
  90% {
    border-color: #F6B300;
  }
  93% {
    border-color: #F0D600;
  }
  96% {
    border-color: #FAE87F;
  }
  99% {
    border-color: #FAECC5;
  }
  100% {
    border-color: #AC492E;
  }
}

/* Use the previously defined animation on any element that has a 'my-border-class' class */
.colorR {
  animation: borderColorTransition 121.5s linear infinite;
}

/* Define a CSS keyframes animation with the desired background-color transitions */
@keyframes backgroundColorTransition {
  0% {
    background-color: #FFCDBF;
  }
  2% {
    background-color: #F78B83;
  }
  4% {
    background-color: #D0202B;
  }
  6% {
    background-color: #FFCF7A ;
  }
  8% {
    background-color: #F75D00;
  }
  10% {
    background-color: #D26520;
  }
  12% {
    background-color: #AC492E;
  }
  15% {
    background-color: #FAECC5;
  }
  18% {
    background-color: #FAE87F;
  }
  21% {
    background-color: #F0D600;
  }
  24% {
    background-color: #F6B300;
  }
  27% {
    background-color: #DEE24D;
  }
  30% {
    background-color: #79CCA6;
  }
  33% {
    background-color: #83C77F;
  }
  36% {
    background-color: #09BB83;
  }
  39% {
    background-color: #00A46A;
  }
  42% {
    background-color: #00798B;
  }
  45% {
    background-color: #006C5B;
  }
  48% {
    background-color: #00483A;
  }
  51% {
    background-color: #BADFEC;
  }
  54% {
    background-color: #80A6C3;
  }
  57% {
    background-color: #58A8E0;
  }
  60% {
    background-color: #0089CA;
  }
  63% {
    background-color: #3A8BC3;
  }
  66% {
    background-color: #005EA0;
  }
  69% {
    background-color: #003F75;
  }
  72% {
    background-color: #00405F;
  }
  75% {
    background-color: #173661;
  }
  78% {
    background-color: #556E83;
  }
  81% {
    background-color: #6C849A;
  }
  84% {
    background-color: #C8A2D7;
  }
  87% {
    background-color: #883070;
  }
  90% {
    background-color: #7E1D40;
  }
  93% {
    background-color: #645188;
  }
  96% {
    background-color: #BBA68D;
  }
  99% {
    background-color: #8D8275;
  }
  100% {
    background-color: #BE8D4A;
  }
}

.colorL {
  animation: backgroundColorTransition 81s linear infinite;
}